body{
	position:relative;
/*	background-size: 100vw;
	background-repeat: no-repeat;*/
}
/*@media screen and(min-width: 1530px){
	body{
		background-size: 1000px;
	}
}*/
#scoreboard{
	position: relative;
}
.scoreboard{
	border-radius: 20px;
}

#home-score, #away-score, #down, #yards-to-go, #yard-line{
	position: absolute;
	font-size: 90px;
	color: yellow;
}

#home-team, #away-team{
	color:white;
	position:absolute;
	font-size: 48px;
	font-family: sans-serif;
	top:30px;
}

#home-team{
	left:20px;
}

#away-team{
	right:22px;
}

#ball-on{
	position: absolute;
	font-family: sans-serif;
	font-size: 55px;
	color:white;
	top:27px;
	left:285px;
}

#home-score{
	top:80px;
	left:35px;
}

#away-score{
	top:80px;
	left:665px;
}
#down{
	top:210px;
	left:70px;
}
#yards-to-go{
	top:210px;
	right:80px;
}
#yard-line{
	top:90px;
	left:305px;
	border: 3px solid #ccc;
	padding:0px 50px;
}
.arrow-left{
	position:absolute;
	width:0px;
	height:0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 30px solid yellow;
	top:150px;
	left:320px;
}
.arrow-right{
	position:absolute;
	width:0px;
	height:0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 30px solid yellow;
	top:150px;
	left:460px;
}
#field{
	background-image: url('media/theField.png');
	background-size: 800px 377px;
	background-repeat: no-repeat;
	display:block;
}
#run-plays, #pass-plays, #special-teams{
	width: 800px;
	display:block;
	text-align: center;
	font-size: 20px;
}
#button-container{
	width: 800px;
}
.btn{
	display:inline;
}
.button{
	font-size: 20px;
	text-align: center;
	padding: 20px;
	font-family: 'Black Ops One';
	opacity: 0.8;
	border-radius: 7px;

}
.flip-button{
	font-size: 20px;
	text-align: center;
	padding: 20px;
	font-family: 'Black Ops One';
	opacity: 0.8;
	border-radius: 7px;
	margin:30px 10px;
}
.play-button{
	font-size:20px;
	width:256.6px;
	font-family: 'Black Ops One';
	display:inline;
	margin:5px;
}
#message-wrapper{
	display:block;
	margin:20px 0px;
}
#message{
	font-family: 'Black Ops One';
	padding:20px;
	border-radius: 10px;
	font-size: 48px;
	display: inline;
	margin-left: 10px;
}
#coin-wrapper{
	margin:30px 0px;
	width:1000px;
	text-align: center;
}
#coin{
	border-radius: 50%;
	height:350px;
	width: 350px;
	position:absolute;
	top: 335px;
	left:335px;
	transform-style: preserve-3d;
  	display: inline;
}
#heads, #tails{
	position:absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;

}
#heads{
	backface-visibility: hidden;
}
#tails{
	transform: rotateY(-180deg);
}
#home-container, #away-container{
	float:left;
	margin: 0px 50px 0px 50px;

}
#home-container p, #away-container p{
	font-size: 48px;
	padding: 20px;
	margin: 0px 0px 0px 50px;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	font-family: 'Black Ops One';
	opacity: 0.9;
}
#team-wrapper{
	margin-top: 50px;
	overflow:hidden;
	width:1000px;
	margin:auto;
}
#home-teams, #away-teams{
	height:350px;
	width:340px;
	padding: 0px 25px;
	border-radius: 0px 0px 10px 10px;
	opacity: 0.9;
	font-family: 'Black Ops One';
	font-size: 30px;
	position:relative;
	margin-left: 50px;
	overflow:scroll;
	text-align: center;
}
#submission{
	width: 830px;
	opacity: 0.9;
	padding:10px;
	font-size: 72px;
	font-family: 'Black Ops One';
	margin: 50px 0px 0px 100px;
	border-radius: 10px;
}
#win-message{
	width:830px;
	text-align: center;
	height:300px;
	font-size:28px;
	font-family:'Black Ops One';
}
/* --------------------------------  login  ---------------------------------------- */

#register-wrapper{
	width:500px;
	margin: auto;
}
#login-wrapper{
	width:500px;
	margin: auto;
}
#login-content{
	padding: 0px 30px 30px;
}
#fav-team{
	width: 192px;
}
.btn{
	margin: 10px 10px 0px 0px;
}
#header{
	padding: 20px 0px 0px 20px;
}

#home-wrapper{
	background-color: rgba(0,0,0,.8);
	padding: 20px;
	margin:auto;
	width:500px;
	color:white;
}
#profile-inner-wrapper{
	padding: 20px 0px 0px 20px;
	text-align: center;
}
#profile-inner-wrapper form{
	margin:20px;
}
#profile-inner-wrapper{
	margin-top:0px;
}
#profile-wrapper{
	width:100vw;
	height:100vh;
	color:white;
}
#editTeam{
	width:200px;
}
#fav-team{
	margin:auto;
	width:200px;
}
.player-stats{
	color:black;
	opacity: 1;
}
.player-name{
	font-size: 20px;
}
.attr-label{
	font-weight: normal;
}
.home-team, .away-team{
	cursor:pointer;
}
#home-body{
	margin:auto;
	text-align: center;
}
ul li{
	list-style-type: none;
}
ol li{
	list-style-type: none;
}
#update_team_form, #update_player_form{
	border: 3px solid black;
}
#select-header{
	width:1000px;
	padding: 0px 0px 20px 100px;
	margin:auto;
}
#game-wrapper{
	width:800px;
	margin:auto;
}

#home-body p, #home-body li{
	font-size: 18px;
}
#quit-game{
	margin:0px 0px 15px 10px;
}
#game-header{
	width:800px;
	margin:auto;
}



