	<div id="header"></div>
	<div id="game-wrapper">
		<div id="scoreboard" ng-controller = 'gameController'>
			<img class = "scoreboard" src="media/scoreboard.png">
			<div id="home-team">{{homeTeam}}</div>
			<div id="away-team">{{awayTeam}}</div>
			<div id="home-score">{{homeScore}}</div>
			<div id="away-score">{{awayScore}}</div>
			<div id="ball-on">BALL ON</div>
			<div id="yard-line">{{currentYardLine}}</div>
			<div id="home-arrow"  class="arrow-left"></div>
			<div id="away-arrow"  class="arrow-right"></div>
			<div id="down">{{down}}</div>
			<div id="yards-to-go">{{yardsToGo}}</div>
		</div>
		<div id="field-wrapper">
			<canvas id="field" width='800px' height='377px'></canvas>
			<div id='button-container'>
					<button ng-repeat="player in team" class="play-button" ng-click="makePlay()" id="{{player.id}}">{{player.name}} <span id="energy">{{player.energy}}%</span></button>
			</div>
			<div id='special-teams' style="display: none">
			Special Teams:
				<button class="play-button" id="punt" ng-click="punt()">Punt</button>
				<button class="play-button" id="field-goal" ng-click="fieldGoal()">Field Goal</button>
			</div>
		</div>
	</div>